{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>NomEntreprise</th>
                <td>{{ stage.nomEntreprise }}</td>
            </tr>
            <tr>
                <th>TitrePoste</th>
                <td>{{ stage.titrePoste }}</td>
            </tr>
            <tr>
                <th>CompetenceRequises</th>
                <td>{{ stage.competenceRequises }}</td>
            </tr>
            <tr>
                <th>StatutOffre</th>
                <td>{{ stage.statutOffre }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ stage.ville }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ stage.departement }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ stage.codePostal }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ stage.dateDebut ? stage.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ stage.dateFin ? stage.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stage_index') }}">back to list</a>

    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
